@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100;
  }
}

@layer components {
  .logo {
    @apply uppercase text-lg font-bold tracking-[2px];
    @apply hover:tracking-[4px] duration-150 ease-in-out;
  }

  .navLink {
    @apply uppercase text-lg tracking-widest;
    @apply hover:tracking-[4px] duration-150 ease-in-out;
  }

  .btn {
    @apply font-bold text-lg;
    @apply px-2 py-1 rounded-lg;
    @apply flex justify-center items-center;
    @apply duration-150 ease-in-out;
  }

  .btn--primary {
    @apply bg-violet-500 text-slate-100;
    @apply hover:bg-violet-800;
  }

  .btn--secondary {
  }

  .btn--small {
    @apply px-1 py-1 text-base;
  }

  .btn--success {
    @apply bg-emerald-500 text-slate-100;
    @apply hover:bg-emerald-300;
  }

  .btn--danger {
    @apply bg-red-500 text-slate-100;
    @apply hover:bg-red-800;
  }

  /* There might be a better way to do this... */
  .btn {
    @apply disabled:bg-red-400 disabled:cursor-not-allowed;
  }

  .form {
    @apply border border-violet-500 w-full max-w-xl mx-auto shadow-[0_0_25px_5px] shadow-violet-500/30;
    @apply p-4 rounded-xl;
  }

  .formLabel {
  }

  .formInput {
    @apply text-lg px-2 py-1 rounded-xl border border-violet-500/30;
    @apply focus:outline-none;
  }

  .checkBox {
    @apply appearance-none w-6 aspect-square cursor-pointer;
    @apply rounded border border-violet-500;
    @apply checked:bg-violet-500;
    @apply duration-150 ease-in-out;
  }

  .taskCard {
    @apply flex justify-between items-center;
    @apply px-4 py-2 border border-violet-500 rounded-lg text-xl;
    @apply hover:bg-violet-500/10;
  }
}

@layer utilities {
  .link {
    @apply font-bold tracking-wider;
    @apply bg-clip-text text-transparent;
    @apply bg-gradient-to-br from-violet-300 via-emerald-500 to-violet-700;
    @apply bg-size-200 bg-pos-0 hover:bg-pos-100 duration-300 ease-in-out;
  }
}
